body{
    background-color: #112C37;
}


button{
    width: 64px;
    height: 40px;
    border-radius: 50px;
    margin: 15px;
    text-align: center;
    background-color: #52CBFF;
    border-color: #1A8BBC;
}

h1,h2{
    color: #FFF;
}

button:hover{
    background-color: #43A1CA;
}
